<!DOCTYPE html>
<html th:replace="~{base:: parent(~{::#content},~{::title})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | SkyLink</title>

</head>

<body>

    <!-- Sidebar  -->
    <div id="content" class="sm:pl-72">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
        <div class=" text-black dark:text-white flex flex-col text-center">
            <h1 class="text-5xl">Welcome to Profile</h1>
            <h2>How's journey going on</h2>
        </div>
    </div>


</body>

</html>