<!DOCTYPE html>
<html th:replace="~{base:: parent(~{::#content},~{::title})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyLink | Contacts</title>

</head>

<body>

    <!-- Sidebar  -->
    <div id="content" class="sm:pl-64">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
        <div class="p-5 text-black dark:text-white flex flex-col text-center">
            <h1 class="text-5xl text-center">Search Result</h1>
            <p class="text-center" data-th-text="${contactPage.totalElements}+' result found...'"></p>
            <hr class="w-48 h-1 mx-auto my-2 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
            <!-- Contacts table  -->
            <div class="contact_container bg-white dark:bg-gray-800 ">

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <!-- search form -->
                    <form data-th-action="@{'/user/contacts/search'}" data-th-object="${contactSearchDto}">
                        <div
                            class=" flex space-x-3 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 px-4 py-4 bg-white dark:bg-gray-900">


                            <div>
                                <select data-th-field="*{field}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected value="">Select field</option>
                                    <option value="name">Name</option>
                                    <option value="phone">Phone</option>
                                    <option value="email">Email</option>
                                    <option value="favorite">favorite</option>
                                </select>
                            </div>
                            <label for="table-search" class="sr-only">Search</label>
                            <div class="relative">
                                <div
                                    class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input data-th-field="*{value}" type="text" id="table-search-users"
                                    class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Search for users">
                            </div>

                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>
                    <table data-th-if="${contactPage.totalElements>0}"
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    NAME
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    PHONE
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    LINK
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-each="contactDetails:${contactPage.getContent()}"
                                data-th-object="${contactDetails}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                                <!-- name -->

                                <th scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">

                                    <!-- Image -->

                                    <img class="w-10 h-10 rounded-full" data-th-src="@{*{contactImageUrl}}"
                                        onerror="this.src='/image/default.jpeg'" alt="#">
                                    <div class="ps-3">
                                        <div class="text-base font-semibold" data-th-text="*{name}"></div>
                                        <div class="font-normal text-gray-500" data-th-text="*{email}"> </div>
                                    </div>
                                </th>

                                <!-- Phone number -->

                                <td class="px-6 py-4">
                                    <i class="fa-solid fa-phone"></i>
                                    <span data-th-text="*{phoneNo}"></span>
                                </td>

                                <!--link  -->

                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <i data-th-if="*{favorite}" class="fa-solid fa-star text-yellow-500 p1"></i>
                                        <a data-th-href="@{*{webLink}}" target="_blank" class="p-1"><i
                                                class="fa-solid fa-link w-5 h-5"></i></a>
                                        <a data-th-href="@{*{linkedinLink}}" class="text-blue-600 p1" target="_blank"><i
                                                class="fa-brands fa-linkedin w-5 h-5"></i></a>
                                    </div>
                                </td>

                                <!-- action -->
                                <td class="px-6 py-4">
                                    <a href="#" class="font-medium text-red-600 dark:text-red-500 p-1"><i
                                            class="fa-solid fa-trash"></i>
                                    </a>
                                    <a href="#" class="font-medium text-green-600 dark:text-green-500 p-1"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 p-1"><i
                                            class="fa-solid fa-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination field -->

                    <div class="pagination-container my-5" data-th-if="${contactPage.totalElements>0}">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                                <li data-th-unless="${contactPage.first}">
                                    <a data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${contactPage.number-1}+'&field='+${contactSearchDto.field}+'&value='+${contactSearchDto.value}  }"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                </li>
                                <li data-th-each="index : ${#numbers.sequence(0,contactPage.totalPages-1)}">
                                    <a data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${index}+'&field='+${contactSearchDto.field}+'&value='+${contactSearchDto.value}  }"
                                        data-th-classappend="${index== '${pageNumber}'? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        data-th-text="*{index+1}"></a>
                                </li>

                                <li data-th-unless="${contactPage.last}">
                                    <a data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${contactPage.number+1}+'&field='+${contactSearchDto.field}+'&value='+${contactSearchDto.value}  }"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- No result found -->

            <div class="result_not_found text-3xl my-4" data-th-if="${contactPage.totalElements<=0}">
                Whoops! Result not found...
            </div>
        </div>
    </div>
</body>

</html>