<!DOCTYPE html>
<html th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SkyLink</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>

<body class="bg-gray-100 dark:bg-gray-800 text-white">

    <!-- Common Header -->



    <div data-th-if="${userDetails}">
        <div data-th-replace="~{user/user_navbar::user_navbar}"></div>
    </div>

    <div data-th-unless="${userDetails}">
        <div data-th-replace="~{header::navbar}"></div>
    </div>




    <!-- Main Content -->

    <section class="pt-20">
        <div data-th-replace="${content}"></div>
    </section>

    <!-- common footer -->


    <!-- Flowbite content -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
</body>

</html>