<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | Page</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>

<body>
    <div>
        <div class="grid grid-cols-12 mt-12">
            <div class="md:col-span-2 lg:col-span-4 xl:col-span-4"></div>
            <div class=" col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">

                <div
                    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img c data-th-src="@{'/image/mail.png'}" class="h-20 " alt="Flowbite Logo">`

                </div>
            </div>
        </div>
    </div>
    <!-- Flowbite script -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>

</html>